.c-gray900 {
  color: $gray900;
}
.c-gray400 {
  color: $gray400;
}
.c-green {
  color: $green;
}
.c-red {
  color: $red;
}
.c-orange {
  color: $orange;
}
.c-white {
  color: $white;
}
.c-solate {
  color: $solate;
}
.bg-c-gray {
  color: $gray400c;
}
.bg-c-green {
  color: $green;
}
