.header__up {
  background-color: $gray900;
  color: $white;
}
.header__sale a {
  text-decoration: overline;
  color: black;
  border: 2px solid black;
}
.header__sale button {
  background-color: #3a3030;
}
